<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.exefire.Glasgow"
        versionCode="10" 
        version   = "1.0.2">
  
  <!-- versionCode is optional and Android only -->
  
  <name>Glasgow PRO</name>
  <description>Con esta aplicación en 3 pasos se puede evaluar el nivel de conciencia según la escala de Glasgow.</description>
  <author href="https://www.exefire.com" email="egallardo@exefire.com">Exequiel Gallardo</author>

	<icon src="icon.png" />
	
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
	
	<gap:splash src="splash.png" />
	
	<gap:splash src="splash/ios/Default.png" width="320" height="480" />
	<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
	<gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
	<gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
	<gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
	
	
	
	<plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
	<plugin name="InAppBrowser" value="CDVInAppBrowser" />
	<access origin="*" browserOnly="true" />
	
	
</widget>
